/* Глобальные переменные для тем */
:root {
  --color-bg: #f7f7f7;
  --color-bg-alt: #fff;
  --color-text: #222;
  --color-primary: #28a745;
  --color-secondary: #333;
  --color-accent: #61dafb;
  --color-card-shadow: 0 2px 8px rgba(0,0,0,0.08);
  --color-border: #e0e0e0;
  --transition: 0.3s cubic-bezier(.4,0,.2,1);
}

[data-theme="dark"] {
  --color-bg: #181a1b;
  --color-bg-alt: #23272a;
  --color-text: #f1f1f1;
  --color-primary: #4ade80;
  --color-secondary: #222;
  --color-accent: #0ea5e9;
  --color-card-shadow: 0 2px 16px rgba(0,0,0,0.32);
  --color-border: #333;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  transition: background var(--transition), color var(--transition);
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  min-height: 100vh;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color var(--transition);
}

a:hover {
  color: var(--color-primary);
}
